/* GestionarCitas.css */

/* Estilo para el contenedor principal */
.gestionar-citas-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
}

/* Título */
.gestionar-citas-container h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo de la lista de citas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cita-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cita-info {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.cita-info p {
    margin: 5px 0;
}

.eliminar-cita-btn {
    background-color: #D62828;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eliminar-cita-btn:hover {
    background-color: #B71C1C;
}

.eliminar-cita-btn:active {
    background-color: #9B1C1C;
}
