/* GestionarPacientes.css */

/* Estilo para el contenedor principal */
.gestionar-pacientes-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
}

/* Título */
.gestionar-pacientes-container h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

/* Formulario de entrada */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.input-container input {
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #D62828;
    outline: none;
}

.checkbox-label {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.input-container button {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #D62828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
}

.input-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.input-container button:hover {
    background-color: #B71C1C;
}

/* Estilos de la lista de pacientes */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.paciente-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.paciente-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paciente-nombre {
    font-size: 1.2rem;
    font-weight: bold;
}

.paciente-email {
    font-size: 1rem;
    color: #555;
    margin: 8px 0;
}

.eliminar-btn {
    background-color: #C82333;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.eliminar-btn:hover {
    background-color: #B71C1C;
}

.paciente-contrasena {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.toggle-contrasena-btn {
    background-color: #007BFF;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-contrasena-btn:hover {
    background-color: #0056b3;
}

/* Estilo para el mensaje de error */
.error {
    color: red;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
}
